<div class="container">
  <div class="row justify-content-around align-items-start">
    <div class="card-list col-12 col-sm-5 col-md-3 my-3 text-center">
      <h3 class="mt-2">To Do</h3>
      <hr>
      <ul>
        <li *ngFor="let card of cards">
          <app-card *ngIf="card.lista === 'todo'" [cardTitle]="card.titulo" [cardContent]="card.conteudo"
            [cardList]="card.lista" (clickEvtRemoveCard)="removeCard(card.id)"
            (clickEvtUpdateCard)="updateCard($event, card.id)">
          </app-card>
        </li>
      </ul>

      <button class="btn btn-custom w-100 mb-3" (click)="createNewCard()"><i class="bi bi-plus-square me-2"></i> New
        Card</button>
    </div>

    <div class="card-list col-12 col-sm-5 col-md-3 my-3 text-center">
      <h3 class="mt-2">Doing</h3>
      <hr>
      <ul>
        <li *ngFor="let card of cards">
          <app-card *ngIf="card.lista === 'doing'" [cardTitle]="card.titulo" [cardContent]="card.conteudo"
            [cardList]="card.lista" (clickEvtRemoveCard)="removeCard(card.id)"
            (clickEvtUpdateCard)="updateCard($event, card.id)">
          </app-card>
        </li>
      </ul>
    </div>

    <div class="card-list col-12 col-sm-5 col-md-3 my-3 text-center">
      <h3 class="mt-2">Done</h3>
      <hr>
      <ul>
        <li *ngFor="let card of cards">
          <app-card *ngIf="card.lista === 'done'" [cardTitle]="card.titulo" [cardContent]="card.conteudo"
            [cardList]="card.lista" (clickEvtRemoveCard)="removeCard(card.id)"
            (clickEvtUpdateCard)="updateCard($event, card.id)">
          </app-card>
        </li>
      </ul>
    </div>

  </div>
</div>
